Number: {{baseNumber}}

<ul>
  {{#each objects}}
  <li>
    Name: {{this.name}}<br>
    Surname: {{this.surname}}<br>
    Date: {{formatDate this.date}}<br>
    Download: <a href="{{this.downloadUrl}}">pdf</a><br>
    New action on: {{this.number}}
  </li>
  {{/each}}
</ul>